
#sticky {
  z-index: 100 !important; /* or a higher value if needed */
  transition: margin-right 0.4s ease-out;
    margin-right: -200px; /* Initial retracted position */
}

#sticky:hover {
  margin-right: -12; /* Expanded position on hover */
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align:center !important;
}
  .swiper-pagination-bullet-active {
    background-color: #CA002D !important;
}

.lgBtn {
  display: inline-block;
  border-radius: 8px;
  color:white;
  padding: 10px 20px;
  font-size: 13px;
  text-align:center;
  cursor:pointer;
  transition: background-color 0.3s;
  transition: stroke 0.3s;
}
.thin {
  padding: 8px 16px;
}

.redBgLg { background-color: #CA002D;}
.redBtn {
  background-color: #CA002D;
}
.redBtn:hover {
  background-color: #AE0027;
}

.redBtnOutlined {
  border: 1px solid #CA002D;
  color: #CA002D;
}
.redBtnOutlined:hover {
  border: 1px solid #AE0027;
  color: #AE0027;
  background-color: #FFF3F3;
}

.greyBtn {
  background-color: #B8AEA7;
}
.greyBtn:hover {
  background-color: #9D948E;
}

.swiper {
    width: 1060px;
    height: 100%;
}
.prevBtn, .nextBtn {
padding:4px;
transition: background-color 0.3s, box-shadow 0.3s;
}
.prevBtn:hover, .nextBtn:hover {
background-color: white;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h4{
font-size:16px !important;
font-weight: 500;;
}
.greyBg {
background-color: #F7F6F5;
padding:10px;
border-radius: 10px;
}

.bannerBlock {
background-color: #F7F6F5;
padding:12px;
border-radius: 10px;
}
